<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Address Standardizer</title>
  <meta name="description" content="Standardize addresses">
  <meta name="author" content="bitjockey42">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function() {

        $('#addresses_form').submit(function(e) {
          e.preventDefault();
          var address1 = $('#address1').val();
          var address2 = $('#address2').val();

          $(".error").remove();

          if (address1.length < 1) {
            $('#address1').after('<span class="error">This field is required</span>');
          }
        });

      });
  </script>
  <section class="hero is-fullheight is-light">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <h1 class="title has-text-centered">Address Sanitizer</h1>
            <form id="addresses_form" method="post", action="">
                <div class="field">
                    <label class="label" for="address1">Address 1</label>
                    <div class="control">
                        <input class="input" type="text" id="address1" name="address1"></input>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="address2">Address 2</label>
                    <div class="control">
                        <input class="input" type="text" id="address2" name="address2"></input>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Submit" />
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
