<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Address Standardizer</title>
  <meta name="description" content="Standardize addresses">
  <meta name="author" content="bitjockey42">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        var copyText = document.getElementById("#")

        $("#address1").val("");
        $("#address2").val("");
        $("#address1_result").hide();
        $("#address2_result").hide();

        $("#clear").click(function() {
          $("#address1").val("");
          $("#address2").val("");
        });

        $("#copyAddress1").click(function() {
            console.log("Click 1");
        });

        $("#address2_value").click(function() {
            console.log("Click 2");
        });

        $('#addresses_form').submit(function(e) {
          var address1 = $('#address1').val();
          var address2 = $('#address2').val();

          $(".error").remove();

          $.ajax("/api/address", {
            data: JSON.stringify({ address1: address1, address2: address2 }),
            method: "POST",
            contentType: "application/json"
          }).done(function (data) {
            $("#address1_value").val(data.address1);
            $("#address2_value").val(data.address2);

            if (data.address1) {
                $("#address1_result").show();
            } else {
                $("#address1_result").hide();
            }

            if (data.address2) {
                $("#address2_result").show();
            } else {
                $("#address2_result").hide();
            }
          });

          event.preventDefault();
        });
      });
  </script>
  <section class="hero is-fullheight is-light">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <h1 class="title has-text-centered">Address Standardizer</h1>
            <div class="box">
                <form id="addresses_form" method="post", action="">
                    <div class="field">
                        <label class="label" for="address1">Address 1</label>
                        <div class="control">
                            <input class="input" type="text" id="address1" name="address1"></input>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="address2">Address 2</label>
                        <div class="control">
                            <input class="input" type="text" id="address2" name="address2"></input>
                        </div>
                    </div>
                    <div>
                        <input class="button is-success" type="submit" value="Submit" />
                        <button id="clear" class="button">Clear</button>
                    </div>
                </form>
            </div>

            <div id="address1_result">
                <div class="field">
                    <label class="label" for="address1_value">Address 1</label>
                    <div class="control is-medium">
                      <input id="address1_value" class="input is-medium" type="text">
                    </div>
                </div>
                <button id="copyAddress1" class="button is-outlined is-large">Copy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
